/* For Small Types Screens */
@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .hero-section {
    margin-top: 300px;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .hero-section-content {
    text-align: center;
    width: 100%;
  }
  .hero-section-content h1 {
    font-size: 2rem;
  }
}

/* For Medium Types Screens */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 30px;
  }

  .hero-section {
    margin-top: 350px;
    flex-direction: column-reverse;
    gap: 50px;
    text-align: center;
  }
}
